@{
    ViewData["Title"] = "Revolution";
}


<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="~/css/Style.css" rel="stylesheet" />
    <!-- bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!--loader-->
    <link href="~/css/Styleloader.css" rel="stylesheet" />
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/Scriptloader.js"></script>
    <title>assassin's rogue</title>
</head>

<body>
    <div class="loader">
        <img src="https://thumbs.gfycat.com/GranularBestGerenuk-max-1mb.gif">
    </div>
    <header class="header">
        <a class="logo" asp-area="" asp-controller="Gamemassters" asp-action="Index">
            <img src="https://i.imgur.com/5bIRVYF.png" alt="logo">
        </a>

        <nav class="navbar">
            <a href="#top">top</a>
            <a href="#loli">tổng quan</a>
            <a href="#image">hình ảnh</a>
            <a href="#video">Game Play </a>
            <a href="#support">cấu hình</a>
            <a href="#top-3-game">tải game</a>
        </nav>
    </header>
    <section class="home" id="home">
        <div class="content">
            <h3>Assassin creed Rogue</h3>
            <p>chúc bạn chơi game vui vẻ</p>
        </div>
    </section>
    <section class="loli" id="loli">

        <h1 class="heading"> <span>tổng</span> quan </h1>

        <div class="row">

            <div class="image">
                <img src="https://tse4.mm.bing.net/th?id=OIP.hjBcHe0g1BXOloj4RnVxYwHaEK&pid=Api&P=0&w=322&h=181" alt="hinh anh game">
            </div>

            <div class="content">
                <h3> assassin creed: rogue </h3>
                <p>Assassin's Creed Rogue là một trò chơi điện tử phiêu lưu hành động được phát triển bởi Ubisoft Sofia và được xuất bản bởi Ubisoft . [1] Đây là phần lớn thứ bảy trong Kinh Tin Kính của Assassin loạt , và được thiết lập từ năm 2013 của Assassin Creed IV: Black Flag và 2012 của Assassin Creed III . Nó cũng có mối quan hệ với Assassin's Creed Unity , được phát hành cùng ngày với Rogue . Đây làtrò chơi Assassin's Creed cuối cùngđược phát triển cho thế hệ bảng điều khiển thứ bảy , được phát hành cho PlayStation 3 vàXbox 360 vào tháng 11 năm 2014, [1] [2] và cho Microsoft Windows vào tháng 3 năm 2015. [3] [4] Một phiên bản làm lại của trò chơi đã được phát hành cho PlayStation 4 và Xbox One vào tháng 3 năm 2018. [5] Nó cũng được được phát hành trên Nintendo Switch như một phần của The Rebel Collection cùng với Black Flag vào tháng 12 năm 2019. </p>
            </div>

        </div>

    </section>

    <h1 class="heading" id="image"> một số hình ảnh trong <span>Game </span></h1>"

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://hienblog.com/wp-content/uploads/2021/12/game-Assassins-Creed-Rogue.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://i0.wp.com/www.thexboxhub.com/wp-content/uploads/2018/04/rogue-remastered-rev-2.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://cdn.wccftech.com/wp-content/uploads/2018/03/Assassins-Creed%C2%AE-Rogue-Remastered_20180316165435.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <h1 class="heading" id="video">Game <span>Play</span></h1>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/oHmr3Eryssk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <section class="support" id="support">
        <h1 class="heading">cấu hình để chơi <span>game</span></h1>
        <div class="box-container">

            <div class="box">

                <div class="content">
                    <h3> cấu hình play game </h3>

                    <p>Hệ điều hành: Windows 7 SP1 / Windows 8 / Windows 8.1 64-bit</p>
                    <p>Bộ xử lý CPU: Intel Core2Quad Q6600 2.4 Ghz / AMD Athlon II X4 620 2.6 Ghz</p>
                    <p>RAM: 2 GB</p>
                    <p>VGA: NVIDIA GeForce GTS 450 / ATI Radeon HD 5670 (1 GB VRAM) / Intel HD4600</p>
                    <p>HDD: 11.4 G</p>
                    <p>DirectX: DirectX phiên bản được cập nhật vào tháng 06/2010</p>
                    <p>Card âm thanh: tương thích DirectX với driver mới nhất hiện nay.</p>

                </div>

            </div>

        </div>

    </section>
    <section class="support" id="top-3-game">

        <h1 class="heading">tải<span> game</span></h1>
        <div class="box-container">

            <div class="box">
                <div class="content">
                    <a href="https://drive.google.com/uc?id=1ORF93lJ8Y1LaiLsEODzO8AoSQDVwccpx&export=download" class="btn">link part1</a>
                </div>
                <div class="content">
                    <a href="https://drive.google.com/uc?id=1-ISFgjmtYuaDklW77Q3PosNbb8QFvOnH&export=download" class="btn">link part2</a>
                </div>
                <div class="content">
                    <h3> hướng dẫn cài đặt </h3>

                    <p>b1: tải tất cả các part game về </p>
                    <p>b2: chọn part đầu tiên và chọn "extrec to" máy bạn sẽ tự liên kết 2 part và giải nén thành 1 folder</p>
                    <p>b3: mở folder lên tìm file set up và chọn "run as administrator" </p>
                    <p>b4: chờ quá trình cài đặt hoàn thành và vào game </p>

                    <h3> lưu ý: </h3><p> tắt diệt virut trong quá trình cài đặt để tránh việc cài đặt game bị lỗi </p>
                </div>
            </div>
        </div>

    </section>
    <section class="footer">

        <div class="share">
            <a href="https://www.facebook.com/" class="fab fa-facebook-f"></a>
            <a href="https://twitter.com/" class="fab fa-twitter"></a>
            <a href="https://www.instagram.com/accounts/login/#" class="fab fa-instagram"></a>
            <a href="https://www.youtube.com/" class="fab fa-youtube"></a>
        </div>

        <div class="links">
            <a href="#">top</a>
            <a href="#loli">tổng quan</a>
            <a href="#image">hình ảnh</a>
            <a href="#video">Game Play </a>
            <a href="#support">cấu hình</a>
            <a href="#top-3-game">tải game</a>
        </div>

        <div class="edit">edit by <span>black ait</span> | pirate</div>

    </section>
    <script src="~/js/Script.js"></script>
    <style>
        .home {
            min-height: 100vh;
            display: flex;
            align-items: center;
            background: url(https://images.gnwcdn.com/2013/articles/1/7/2/1/3/2/4/assassins-creed-rogue-review-1416405729220.jpg/EG11/resize/1200x-1/assassins-creed-rogue-review-1416405729220.jpg);
            background-size: cover;
            background-position: center;
        }

            .home .content {
                max-width: 60rem;
            }

                .home .content h3 {
                    font-size: 6rem;
                    text-transform: uppercase;
                    color: #fff;
                }

                .home .content p {
                    font-size: 2rem;
                    font-weight: lighter;
                    line-height: 1.8;
                    padding: 1rem 0;
                    color: #eee;
                }

        .btn {
            font-size: 20px;
            color: aqua;
            background-color: deeppink;
        }

            .btn:hover {
                font-size: 20px;
                color: deeppink;
                background-color: aqua;
            }

        .carousel-item {
            width: 86%;
            margin-left: 7%;
            margin-right: 7%;
        }

        iframe {
            height: 780px;
            width: 86%;
            margin-left: 7%;
            margin-right: 7%;
        }
        .loader {
            background: white;
        }

            .loader img {
                width: 150px;
                height: 150px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -75px;
                margin-left: -75px;
            }
    </style>
</body>

</html>